
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>  
  <h1>This is home page</h1>
  <img src="https://img.freepik.com/photos-premium/magnifique-coeur-verre-belles-fleurs-plage-sable-cadre-romantique-parfait-pour-coucher-soleil-ete-ai-generative_834113-585.jpg?w=1380" alt="love Image">
  <p> Le nombre de visiteurs {{count }}</p>
  <h1>Menu :</h1>
  <ul>
    <li><a href="/about"> FIRST</a></li>
    <li><a href="/form"> FORM</a></li>
  </ul>
  

</body>
</html>